<section class="UserSection">
  <h2>ユーザー情報</h2>
  <div class="UserEditContainer">
    <ul class="NavList">
      <li class="NavListItem">
        <%= link_to(:back) do %>
          <i class="fas fa-reply"></i>
          戻る
        <% end %>
      </li>
    </ul>
    <div class="AccountInformation">
      <div class="AccountHeader">
        <h3>アカウント</h3>
        <%= link_to "編集", edit_user_registration_path, class:"AccountEditLink" %>
      </div>
      <div class="AccountItem">
        <h4>メールアドレス</h4>
        <h5><%= @user.email %></h5>
      </div>
      <div class="AccountItem">
        <h4>パスワード</h4>
        <h5>******</h5>
      </div>
    </div>
  </div>
</section>
