<main>
  <div class="FirstView">
    <div class="Container">
      <h1 class ="FirstViewTitle">
        推し活日記<br>を<br>始めよう
      </h1>
    </div>
  </div>
</main>
<%= render 'layouts/shared/footer' %>
