body {
  margin: 0;
  font-family: "M PLUS 1p";
  
}

.FirstView {
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 650px;
  padding-top: 80px;
  background-image: url("./firstview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
}

.Container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0;
}

.FirstViewTitle {
  font-family: 'Kiwi Maru', serif;
  font-size:  clamp(20px, 10vw, 60px);
  font-weight: lighter;
  line-height: 72px;
  color: rgba(255, 255, 255, 0.901);
  text-align: center;
  margin-bottom: 5px;
  margin-top: 120px;
}

@media(max-width: 769px) {
  .FirstView {
    background-size:cover;
    background-position: 30%;
    height: 580px;
  }
}

@media(max-width: 767px) {
  .FirstView {
    height: 500px;
    padding-top: 50px;
    background-position: center;
  }
  .FirstViewTitle {
    font-size: 34px;
    line-height: 36px;
    margin-top: 60px;
  }
  .DiarySection {
    padding: 30px 0;
  }
  .DiaryTitle {
    font-size: 28px;
  }
  .DiaryDescription {
    font-size: 16px;
  }
}

@media(max-width: 415px) {
  .FirstView {
    height: 320px;
    padding-top: 30px;
  }
  .FirstViewTitle {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
  }
  .DiarySection {
    padding: 20px 0;
  }
  .DiaryTitle {
    font-size: 24px;
  }
  .DiaryDescription {
    font-size: 15px !important;
  }
  .DiaryFeatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .DiaryFeature {
    width: calc(50% - 5px);
    flex-basis: calc(50% - 5px);
    margin-bottom: 10px;
  }
  .SignUpLoginOption {
    p {
      font-size: 10px !important;
    }
    font-size: 13px;
  }
}

.DiarySection {
  background-color: #f5f5f5;
  padding: 50px 0;
  transition: opacity 1s ease-in-out;

  .DiarySection.visible {
    opacity: 1;
  }

  .DiaryContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .DiaryTitle {
    font-size: 36px;
    color: #333;
  }

  .DiaryDescription {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }

  .DiaryFeatures {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  .DiaryFeature {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .DiaryFeature:hover {
    transform: scale(1.1);
    background-color: #c4c6ff62;
  }
  
  .DiaryFeature p {
    margin-top: 10px;
  }

  .DiaryFeatureDetails {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
  }

  .DiaryFeature i {
    font-size: 36px;
    color: #817cca;
    margin-bottom: 10px;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .DiaryTitle,
  .DiaryDescription,
  .DiaryFeature {
    animation: fadeInUp 1s ease-in-out;
  }
  
  .DiaryFeatureDetails img {
    width: 100%;
  }

  .caption-feature {
    max-width: 700px;
    max-height: 800px;
    border-radius: 25px;
    border: #d7d7d7 4px solid;
  }

  .caption-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .caption-feature-post {
    width: 30% !important;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .caption-feature-post:hover {
    transform: scale(1.8);
  }
}

.SignUpLoginSection {
  background-color: #fff;
  padding: 50px 0;

  .SignUpLoginContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  .SignUpLoginOption {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
  }

  .SignUpLoginOption:hover {
    background-color: #c4c6ff62;
    transform: scale(1.05);
  }

  .SignUpLoginOption p {
    font-size: 16px;
    color: #555;
  }

  .SignUpLink,
  .LoginLink,
  .GuestLoginLink {
    display: block;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #817cca;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .SignUpLink:hover,
  .LoginLink:hover,
  .GuestLoginLink:hover {
    background-color: #634fbb;
  }
}
