body {
  margin: 0;
  font-family: "M PLUS 1p";
  
}

.FirstView {
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 650px;
  padding-top: 80px;
  background-image: url("./firstview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
}

.Container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0;
}

.FirstViewTitle {
  font-family: 'Kiwi Maru', serif;
  font-size:  clamp(20px, 10vw, 60px);
  font-weight: lighter;
  line-height: 72px;
  color: rgba(255, 255, 255, 0.901);
  text-align: center;
  margin-bottom: 5px;
  margin-top: 120px;
}

@media(max-width: 769px) {
  .FirstView {
    background-size:cover;
    background-position: 30%;
    height: 580px;
  }
}
.DiarySection {
  background-color: #f5f5f5;
  padding: 50px 0;
  opacity: 0; /* 初期状態は非表示にする */
  transition: opacity 1s ease-in-out;
}

.DiarySection.visible {
  opacity: 1;
}

.DiaryContainer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.DiaryTitle {
  font-size: 36px;
  color: #333;
}

.DiaryDescription {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.DiaryFeatures {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.DiaryFeature {
  flex: 0 0 30%;
  text-align: center;
}

.DiaryFeature i {
  font-size: 36px;
  color: #817cca;
  margin-bottom: 10px;
}

/* アニメーション */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.DiaryTitle,
.DiaryDescription,
.DiaryFeature {
  animation: fadeInUp 1s ease-in-out;
}
