.AccountFormWrapper {
  background-image: url("./firstview.png");
  background-size: cover;
  display: block;
  max-width: 100%;
  padding: 120px;
}

.AccountFormContainer {
  background-color: #1c1c1c78;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 
  0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: auto;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  padding: 20px;
  .help-block {
    color: #ff8080c0;
    font-size: 12px;
  }
  .has-error {
    .form-control {
      border: 2px solid #ff8080c0;
    }
  }
}

.form-group {
  display: block;
  margin-bottom: 1rem;
  padding: 15px;
  margin-left: 1rem;
  margin-right: 2rem;
  text-align: left;
  align-items: center;
}

.form-label {
  line-height: 18px;
  margin-bottom: 5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  box-shadow: 0 0 px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(255, 255, 255, 0.24);
  background-color: #13131392;
  background-clip: padding-box;
  border: none;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

label {
  color: #ebebeb;
  font-weight: 700;
}

.AccountFormTitle {
  color: #fff;
}

.login-signup-button {
  margin-bottom: 50px;
  color: #fff;
}

.login-button {
  color: #fff;
  border-radius: 50px;
  border: none;
  background-color: #79abdd;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}

.login-button:hover {
  background-color: #36608a;
}

.new-account {
  color: #ffffff9b;
  padding: 15px;
  text-decoration: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.new-account:hover{
  color: #92bbe4;
}

.icon {
  font-size: 18px;
  margin-right: 5px; 
  color: #cacacab5;
}

.remember-me {
  font-size: 13px;
  margin-top: 3px;
  display: flex;
}

.profile-image {
  border-radius: 50%;
}

.username {
  align-items: center;
}
