.UserSection {
  margin: 10px;
}

.UserContainer {
  display: flex;
}

.NavList {
  list-style: none;
  padding: 5px;
  display: flex;
  text-align: center;
}

.NavListItem {
  margin-right: 20px;
  color: #1da1f2;
  font-weight: bold;
  transition: color 0.3s;
  a {
    text-decoration: none;
  }
}

.NavListItem:hover {
  color: #0077b5;
}

.AccountInformation {
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.AccountHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  #dropdown-button {
    cursor: pointer;
  }
}

.AccountEditLink {
  text-decoration: none;
  color: #1da1f2;
  font-weight: bold;
  transition: color 0.3s;
}

.AccountEditLink:hover {
  color: #0077b5;
}

.Avatar img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.ProfileInfo {
  margin-left: 20px;
}

.form-buttons {
  margin-left: 50%;
  margin-bottom: 25px;
  justify-content: space-between;
  .submit {
    margin-left: 5%;
    color: #fff;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #86b5e5;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
  }
}

.user-image-preview {
  border-radius: 50% !important;
}

.AccountItem {
  margin-bottom: 10px;
  h4 {
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: bold;
    background-color: #b274df82;
    color: #fff;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .rounded-circle {
    margin-left: 30px;
  }
}

/* 編集画面 */
.UserEditContainer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;

  h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #5aa5cdc1;
    font-weight: bold;
    font-style: oblique;
  }
  
  p {
    color: #1da1f2;
    font-size: 65px;
  }
  
  .NavList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .NavListItem {
    display: flex;
    align-items: center;
  }

  .NavListItem i {
    margin-right: 5px;
  }
  
  .user-icon-group {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
  }

  .user-icon {
    margin-right: 20px;
  }

  .upload-form {
    margin: 20px 0;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .label-text {
    font-weight: bold;
  }
  
  .form-label {
    color: #1da1f2;
    font-weight: bold;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-outline-secondary {
    background-color: transparent;
    border: 2px solid #1da1f2;
    color: #1da1f2;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 25px;
  }

  .btn-outline-secondary:hover {
    background-color: #1da1f2;
    color: #fff;
  }

  .submit {
    background-color: #1da1f2;
    color: #fff;
    border-radius: 25px;
  }

  .cancel {
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    .UserEditContainer {
      padding: 10px;
    }

    .NavList {
      flex-direction: column;
      align-items: flex-start;
    }

    .NavListItem {
      margin-bottom: 10px;
    }

    .user-icon-group {
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
    
    .rounded-circle {
      width: 120px;
      height: 120px;
    }
    
    p {
      font-size: 50px;
    }
  }
}
